.header {
    box-sizing: border-box;
}

.header__top {
    background-color: rgb(207, 207, 207);
    background-image: url("https://www.transparenttextures.com/patterns/natural-paper.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    
    padding: 5px 0;
    margin: 10px 0;
}

.header__navBarContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3rem 0;
}

.logo {
    width: 400px;
    padding: 0;
}

.header__navBar {
    display: flex;
    /* padding: 40px 0; */

}

@media (max-width: 893px) {

    .header__navBarContainer {
        flex-direction: column;
    }

    .header__navBar {
        flex-direction: column;
        align-items: center;
    }

    .header__navBar > a {
        margin-right: 0!important;
    }
    
}

.header__navBar > a {
    text-decoration: none;
    margin-right: 50px;
    font-size: 23px;
    font-weight: 900;
    color: black;
    /* line-height: 15px; */
    letter-spacing: 3px;
    transition: all .3s ease;
    /* padding: 10px; */
    border: solid white;
}

.header__navBar > a:hover {
    
    color: #FFA713;
    border-bottom:  solid #FFA713 ;

}

